.layoutCard-container{
    width: 400px;;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 13px 13px 57px 0px rgba(166, 166, 166, 0.8),-13px -13px 57px 0px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(100px);
    background: rgba(240, 240, 240, 0.2);
    border: 1px solid #eaeaea;
}

.layoutCard-container-params{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.layoutCard-container-param{
    padding: 8px 17px 8px 17px;
    border-radius: 20px;
    background-color: #e4e4e4;
    font-size: 16px;
    font-family: Inter;
}

.layoutCard-container-param:hover{
    background-color: rgb(36, 201, 227);
}

.layoutCard-container-content{
    width: 85%;
    margin-top: 0px;
    height: 300px;
}

.layoutCard-container-content-name{
    font-size: 40px;
    font-family: Inter;
}

.layoutCard-container-content-disc{
    margin-top: 35px;
    font-size: 20px;
    font-family: Inter;
}

.layoutCard-container-content-autor{
    margin-top: 10px;
    font-size: 25px;
    font-family: Inter;
}

.layoutCard-container-url{
    color:black;
    text-decoration: none;
    font-size: 23px;
    font-family: Inter;
    padding: 15px 30px 15px 30px;
    border-radius: 20px;
    background: linear-gradient(225.00deg, rgba(228, 68, 254, 0.5),rgba(36, 201, 227, 0.5))
}