.main-container{
    width: 1512px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.3);
}

.main-container-filters{
    margin-top: 20px;
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.main-container-filter-cont{
    display: flex;
    flex-direction: column;
}


.main-container-filter-disc{
    margin-left: 10px;
    font-size: 20px;
    font-family: Inter;
}
.main-container-filter{
    margin-top: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    width: 220px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid #000;
}

.main-container-filter-button{
    margin-top: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: Inter;
    border: 1px solid #cbcbcb;
    border-radius: 30px;
    background: linear-gradient(225.00deg, rgba(228, 68, 254, 0.5),rgba(36, 201, 227, 0.5))
}
/* .main-container-filter-option{
    font-size: 20px;
    fon
} */

.main-container--layouts{
    width: 1360px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    column-gap: 90px;
    row-gap: 90px;
    margin-bottom: 80px;
}