.main-container{
    width: 1512px;
    display: flex;
    flex-direction: column;
}

.main-container-filters{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.main-container-filter-cont{
    display: flex;
    flex-direction: column;
}


.main-container-filter-disc{
    margin-left: 10px;
    font-size: 20px;
    font-family: Inter;
}
.main-container-filter{
    margin-top: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    width: 220px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid #000;
}

/* .main-container-filter-option{
    font-size: 20px;
    fon
} */